body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.nav {
  width: 70px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.main-content {
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 10px;
}

.section {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}

.left-section {
  flex: 3;
  background-color: #f0f0f0; /* For visual distinction */
}

.right-section {
  flex: 2;
  background-color: #e0e0e0; /* For visual distinction */
}
.sign-up {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-up h2 {
  text-align: center;
}

.sign-up form {
  display: flex;
  flex-direction: column;
}

.sign-up form div {
  margin-bottom: 10px;
}

.sign-up form label {
  margin-bottom: 5px;
}

.sign-up form input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sign-up button {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up button:hover {
  background-color: #45a049;
}

hr {
  margin: 20px 0;
}
